<!DOCTYPE html>
<html>
<body>

<input type='text' id='idea' />
<input type='button' value='add to list' id='add' />
<ul id='list'></ul>




<script>



document.getElementById("add").onclick = function() {
    //First things first, we need our text:
    var node = document.createElement("LI");
    var txt =document.getElementById("idea").value; //.value gets input values
  	var textnode = document.createTextNode(txt);
  	node.appendChild(textnode);
  	document.getElementById("list").appendChild(node);
  	console.log(document.getElementById("list"))




}

</script>

<p><strong>Note:</strong><br>First create an LI node,<br> then create a Text node,<br> then append the Text node to the LI node.<br>Finally append the LI node to the list.</p>

</body>
</html>
